#Data files and Databases
*.dat
data/raw/
data/processed/
data/*.sqlite3
data/*.txt
data/*
!data/README.md
!data/test.json
**.zip
#Log Files
**/*.log

#__pycache__
__pycache__/
**/*.pyc

#Authorization
**/auth.json
